<a href="https://colab.research.google.com/github/Ganesh9100/Raj9100/blob/master/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np

In [0]:
from numpy.random import randn
np.random.seed(101)

In [31]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())  # creating the data frame 
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [32]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [34]:
# creating new row new
df['new']=df['W']+df['Z']
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.992897
B  1.025984 -0.156598 -0.031579  0.649826  1.675810
C  2.154846 -0.610259 -0.755325 -0.346419  1.808428
D  0.147027 -0.479448  0.558769  1.024810  1.171837
E -0.925874  1.862864 -1.133817  0.610478 -0.315396

In [0]:
# now deleting row and column axis 0 - row 1- column 

df.drop('new',axis=1,inplace=True) # deleting new
df.drop('E',axis=0,inplace=True)  # deleting E

In [36]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [37]:
df['A']

KeyError: ignored

In [38]:
# to sselect the row we cant give as above , as it shows the error 

df.loc['A'] # A row is selected

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

 **Or select based off of index instead of label **

In [39]:
df.iloc[2]    # 3rd row is selected

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [40]:
df.loc['B','Y']

-0.031579143908112575

In [41]:
df.loc['A','W']   # 1st data

-0.993263499973366

In [41]:
df.loc[['A','B'],df.loc=['W','Y']   # so its invalid

SyntaxError: ignored

**NOW WE ARE GOING TO SPLIT OR DIVIDE THE DATAFRAME**

In [58]:
import pandas as pd 
import numpy as np 
df=pd.DataFrame(np.random.randn(10,2))   # creating a data frame of 10 rows and 2 column 
print("------------------------------------------")
print("ORGINAL DATAFRAME ")
print(df)
print("------------------------------------------")

part_70=df.sample(frac=0.7,random_state=10)     # random_state = any positive value will refresh the df fromt he first , it makes the df constant
part_30=df.drop(part_70.index)
print()
print("part_70 ")
print("------------------------------------------")
print(part_70)
print()
print("------------------------------------------")
print("Part 30")
print(part_30)
print("------------------------------------------")
print("No of column in the dataframe")
print(len(df.columns))  # no of column in the dataframe

------------------------------------------
ORGINAL DATAFRAME
          0         1
0  0.087337  2.121344
1  0.513400 -0.235882
2 -0.685650  0.332912
3  0.540043  0.920436
4 -3.073593  0.688605
5 -0.118636 -1.333156
6  1.197112  0.813755
7  0.295093 -0.065939
8 -1.027464 -1.097598
9  0.268255 -0.331624
------------------------------------------

part_70
------------------------------------------
          0         1
8 -1.027464 -1.097598
2 -0.685650  0.332912
5 -0.118636 -1.333156
6  1.197112  0.813755
3  0.540043  0.920436
1  0.513400 -0.235882
0  0.087337  2.121344

------------------------------------------
Part 30
          0         1
4 -3.073593  0.688605
7  0.295093 -0.065939
9  0.268255 -0.331624
------------------------------------------
No of column in the dataframe
2

**Conditional Selection
An important feature of pandas is conditional selection using bracket notation, very similar to numpy:**

In [60]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())  # creating the data frame 
df

          W         X         Y         Z
A  1.670850 -0.866686 -0.265997 -1.442852
B  0.392711  0.267721 -0.688084  1.121515
C  1.167651 -0.229514  0.994879  0.438194
D  1.166207 -0.023161  0.155258 -1.144854
E -0.628225  1.472148  0.956510  0.974409

In [61]:
df>0    # returns bool

       W      X      Y      Z
A   True  False  False  False
B   True   True  False   True
C   True  False   True   True
D   True  False   True  False
E  False   True   True   True

In [62]:
df[df>0]   # to make sense

          W         X         Y         Z
A  1.670850       NaN       NaN       NaN
B  0.392711  0.267721       NaN  1.121515
C  1.167651       NaN  0.994879  0.438194
D  1.166207       NaN  0.155258       NaN
E       NaN  1.472148  0.956510  0.974409

In [65]:
df[df['W']>0]

          W         X         Y         Z
A  1.670850 -0.866686 -0.265997 -1.442852
B  0.392711  0.267721 -0.688084  1.121515
C  1.167651 -0.229514  0.994879  0.438194
D  1.166207 -0.023161  0.155258 -1.144854

In [66]:
df[df['W']>0]['Y']     #select Y where W > 0

A   -0.265997
B   -0.688084
C    0.994879
D    0.155258
Name: Y, dtype: float64

In [68]:
df[df['W']>0][['Y','X']]   # selcet Y and X where W > 0

          Y         X
A -0.265997 -0.866686
B -0.688084  0.267721
C  0.994879 -0.229514
D  0.155258 -0.023161

ERROR! Session/line number was not unique in database. History logging moved to new session 62

In [69]:
df[(df['W']>0) & (df['Y'] > 1)]  #select only whn W > 0 and Y> 1

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [71]:
df[(df['W']>0) & (df['Y'] >0.5)]  #select only whn W > 0 and Y> 0.5

          W         X         Y         Z
C  1.167651 -0.229514  0.994879  0.438194

SyntaxError: ignored

In [73]:
df.set_index('INDEX',inplace=True)   # replace INDEX with any column Name

KeyError: ignored

In [75]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

ERROR! Session/line number was not unique in database. History logging moved to new session 64

In [76]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [77]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.352542  0.105387
   2 -0.148385 -0.310832
   3  1.143045 -0.277808
G2 1 -0.447404  0.649249
   2  0.764794 -0.393217
   3 -1.314887  1.326166

In [78]:
df.loc['G1']

          A         B
1 -0.352542  0.105387
2 -0.148385 -0.310832
3  1.143045 -0.277808

In [79]:
df.loc['G1'].loc[1]

A   -0.352542
B    0.105387
Name: 1, dtype: float64

KeyError: ignored